<html>
<head>

</head>

<body>


         <form action='/login'>

                    <div>
                        Username
                    </div>
                    <div>
                        <input  maxlength=30 type="text" name="username">
                    </div>
                </div>

                <div>
                    <div>
                        Password
                    </div>
                    <div>
                        <input maxlength=20 type="password" name="pass">
                    </div>
                </div>
                {% if msg|length > 3 %}
                <b>{{ msg }}</b> <br><br>

                {% endif %}

                <div>
                    <button type="submit"> Sign In >></button>
                </div>


        </form>


</body>


</html>
